*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font: ;
}

.border-spaing{
    padding: 0 50px;
}

.logo{
    display: flex;
    width: 115px;
}

.wearecoming{
    width: 444px;
    height: 217px;
}

.wearecoming span{
    font-size: 64px;
    font-weight: bold;
    line-height: 71px;
    letter-spacing: 17;
}